USE [PuntoDeVenta]
GO
/****** Object:  Trigger [TR_Pedido_Insert]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TRIGGER IF EXISTS [dbo].[TR_Pedido_Insert]
GO
/****** Object:  Trigger [TR_Empleado_Insert]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TRIGGER IF EXISTS [dbo].[TR_Empleado_Insert]
GO
/****** Object:  Trigger [TR_Domicilio_Insert_Aviso]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TRIGGER IF EXISTS [dbo].[TR_Domicilio_Insert_Aviso]
GO
/****** Object:  StoredProcedure [dbo].[Productos_Por_marca]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[Productos_Por_marca]
GO
/****** Object:  StoredProcedure [dbo].[Pedidos_Por_Fecha]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[Pedidos_Por_Fecha]
GO
/****** Object:  StoredProcedure [dbo].[Empleados_Por_Turno]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[Empleados_Por_Turno]
GO
/****** Object:  StoredProcedure [dbo].[Empleados_Por_Puestos]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[Empleados_Por_Puestos]
GO
/****** Object:  StoredProcedure [dbo].[Domicilios_Por_Cuidad]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP PROCEDURE IF EXISTS [dbo].[Domicilios_Por_Cuidad]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TicketDetalle]') AND type in (N'U'))
ALTER TABLE [dbo].[TicketDetalle] DROP CONSTRAINT IF EXISTS [FK__TicketDet__iTick__534D60F1]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TicketDetalle]') AND type in (N'U'))
ALTER TABLE [dbo].[TicketDetalle] DROP CONSTRAINT IF EXISTS [FK__TicketDet__iProd__5441852A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ticket]') AND type in (N'U'))
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT IF EXISTS [FK__Ticket__iNegocio__4F7CD00D]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ticket]') AND type in (N'U'))
ALTER TABLE [dbo].[Ticket] DROP CONSTRAINT IF EXISTS [FK__Ticket__iEmplead__5070F446]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sucursales]') AND type in (N'U'))
ALTER TABLE [dbo].[Sucursales] DROP CONSTRAINT IF EXISTS [FK__Sucursale__iGere__44FF419A]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sucursales]') AND type in (N'U'))
ALTER TABLE [dbo].[Sucursales] DROP CONSTRAINT IF EXISTS [FK__Sucursale__iDomi__45F365D3]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proveedores]') AND type in (N'U'))
ALTER TABLE [dbo].[Proveedores] DROP CONSTRAINT IF EXISTS [FK__Proveedor__iProd__3A81B327]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PedidoDetalle]') AND type in (N'U'))
ALTER TABLE [dbo].[PedidoDetalle] DROP CONSTRAINT IF EXISTS [FK__PedidoDet__iPedR__5DCAEF64]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pedido]') AND type in (N'U'))
ALTER TABLE [dbo].[Pedido] DROP CONSTRAINT IF EXISTS [FK__Pedido__iProveed__5AEE82B9]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Negocio]') AND type in (N'U'))
ALTER TABLE [dbo].[Negocio] DROP CONSTRAINT IF EXISTS [FK__Negocio__iRespon__4BAC3F29]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Negocio]') AND type in (N'U'))
ALTER TABLE [dbo].[Negocio] DROP CONSTRAINT IF EXISTS [FK__Negocio__iDomici__4CA06362]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inventario]') AND type in (N'U'))
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT IF EXISTS [FK__Inventari__iSucu__571DF1D5]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Inventario]') AND type in (N'U'))
ALTER TABLE [dbo].[Inventario] DROP CONSTRAINT IF EXISTS [FK__Inventari__iProd__5812160E]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleados]') AND type in (N'U'))
ALTER TABLE [dbo].[Empleados] DROP CONSTRAINT IF EXISTS [FK__Empleados__iPues__3F466844]
GO
/****** Object:  Index [UC_Sucursales_iGerente]    Script Date: 21/05/2020 10:30:33 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Sucursales]') AND type in (N'U'))
ALTER TABLE [dbo].[Sucursales] DROP CONSTRAINT IF EXISTS [UC_Sucursales_iGerente]
GO
/****** Object:  Index [UC_Proveedores_iProducto]    Script Date: 21/05/2020 10:30:33 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proveedores]') AND type in (N'U'))
ALTER TABLE [dbo].[Proveedores] DROP CONSTRAINT IF EXISTS [UC_Proveedores_iProducto]
GO
/****** Object:  Index [indx_Productos]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP INDEX IF EXISTS [indx_Productos] ON [dbo].[Productos]
GO
/****** Object:  Index [UC_Productos_vNombre]    Script Date: 21/05/2020 10:30:33 p. m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Productos]') AND type in (N'U'))
ALTER TABLE [dbo].[Productos] DROP CONSTRAINT IF EXISTS [UC_Productos_vNombre]
GO
/****** Object:  Index [indx_dFechaNac]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP INDEX IF EXISTS [indx_dFechaNac] ON [dbo].[Empleados]
GO
/****** Object:  Table [dbo].[tipoPago]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[tipoPago]
GO
/****** Object:  Table [dbo].[TicketDetalle]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[TicketDetalle]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Ticket]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Sucursales]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Puestos]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Proveedores]
GO
/****** Object:  Table [dbo].[PedidoDetalle]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[PedidoDetalle]
GO
/****** Object:  Table [dbo].[Negocio]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Negocio]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Inventario]
GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Almacen]
GO
/****** Object:  View [dbo].[vista_Cantidad_Pedidos_Por_Fecha]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP VIEW IF EXISTS [dbo].[vista_Cantidad_Pedidos_Por_Fecha]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Pedido]
GO
/****** Object:  View [dbo].[vista_Cantidad_Empleados_Por_Puesto]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP VIEW IF EXISTS [dbo].[vista_Cantidad_Empleados_Por_Puesto]
GO
/****** Object:  View [dbo].[vista_Cantidad_Domicilios_Por_Cuidad]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP VIEW IF EXISTS [dbo].[vista_Cantidad_Domicilios_Por_Cuidad]
GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Domicilio]
GO
/****** Object:  View [dbo].[vista_Cantidad_Empleados_Por_Turno]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP VIEW IF EXISTS [dbo].[vista_Cantidad_Empleados_Por_Turno]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Empleados]
GO
/****** Object:  View [dbo].[vista_Cantidad_Productos_Por_Marca]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP VIEW IF EXISTS [dbo].[vista_Cantidad_Productos_Por_Marca]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP TABLE IF EXISTS [dbo].[Productos]
GO
/****** Object:  UserDefinedFunction [dbo].[SalarioTotalEmpleadosPorPuestos]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP FUNCTION IF EXISTS [dbo].[SalarioTotalEmpleadosPorPuestos]
GO
/****** Object:  UserDefinedFunction [dbo].[SalarioTotalEmpleadosPorPuesto]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP FUNCTION IF EXISTS [dbo].[SalarioTotalEmpleadosPorPuesto]
GO
/****** Object:  UserDefinedFunction [dbo].[EmpleadosMayores50]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP FUNCTION IF EXISTS [dbo].[EmpleadosMayores50]
GO
/****** Object:  UserDefinedFunction [dbo].[DomicilioMismoCP]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP FUNCTION IF EXISTS [dbo].[DomicilioMismoCP]
GO
USE [master]
GO
/****** Object:  Database [PuntoDeVenta]    Script Date: 21/05/2020 10:30:33 p. m. ******/
DROP DATABASE IF EXISTS [PuntoDeVenta]
GO
/****** Object:  Database [PuntoDeVenta]    Script Date: 21/05/2020 10:30:33 p. m. ******/
CREATE DATABASE [PuntoDeVenta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PuntoDeVenta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PuntoDeVenta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PuntoDeVenta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PuntoDeVenta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PuntoDeVenta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PuntoDeVenta]
GO
/****** Object:  UserDefinedFunction [dbo].[DomicilioMismoCP]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function  [dbo].[DomicilioMismoCP](@iCodPostal int) returns int
as 
begin
declare @CODPOS int
select @CODPOS= count(iDomicilioId) from Domicilio 
where iCodPostal=64000
return @CODPOS
end
GO
/****** Object:  UserDefinedFunction [dbo].[EmpleadosMayores50]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function  [dbo].[EmpleadosMayores50](@Edad int) returns int
as 
begin
declare @Personas int
select @Personas= count(iEmpleadoId) from Empleados 
where Edad>50
return @Personas
end
GO
/****** Object:  UserDefinedFunction [dbo].[SalarioTotalEmpleadosPorPuesto]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  function  [dbo].[SalarioTotalEmpleadosPorPuesto](@iPuestoid int) returns int
as
begin
declare @Salario int
select @Salario = (SUM(fSueldo)/count(iEmpleadoId)) from Puestos RIGHT JOIN Empleados ON Puestos.iPuestosid = Empleados.iPuesto 
where iPuesto=@iPuestoid
return @Salario
end 
GO
/****** Object:  UserDefinedFunction [dbo].[SalarioTotalEmpleadosPorPuestos]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  function  [dbo].[SalarioTotalEmpleadosPorPuestos](@iPuestoid int) returns int
as
begin
declare @Salario int
select @Salario = SUM(fSueldo) from Puestos RIGHT JOIN Empleados ON Puestos.iPuestosid = Empleados.iPuesto 
where iPuesto=@iPuestoid
return @Salario
end 

GO
/****** Object:  Table [dbo].[Productos]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[iProductosId] [int] NOT NULL,
	[vNombre] [varchar](30) NULL,
	[vMarca] [varchar](30) NULL,
	[fPrecio] [float] NULL,
	[iCantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iProductosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_Cantidad_Productos_Por_Marca]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vista_Cantidad_Productos_Por_Marca] AS
select  count(iProductosid) Cantidad , vMarca from Productos Group by vMarca

GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[iEmpleadoId] [int] NOT NULL,
	[vNombre] [varchar](20) NULL,
	[vApPat] [varchar](20) NULL,
	[vApMat] [varchar](20) NULL,
	[vNomCompleto]  AS (((([vNombre]+' ')+[vApPat])+' ')+[vApMat]),
	[cTurno] [char](1) NULL,
	[iTelefono] [int] NULL,
	[dFechaNac] [datetime] NOT NULL,
	[Edad]  AS (datediff(year,[dFechaNac],getdate())),
	[iPuesto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iEmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_Cantidad_Empleados_Por_Turno]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vista_Cantidad_Empleados_Por_Turno] AS
select  count(iEmpleadoid) iCantidadEmpleados , cTurno from Empleados Group by cTurno

GO
/****** Object:  Table [dbo].[Domicilio]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domicilio](
	[iDomicilioId] [int] NOT NULL,
	[vCalle] [varchar](30) NULL,
	[iNumero] [int] NULL,
	[vColonia] [varchar](30) NULL,
	[vCiudad] [varchar](30) NULL,
	[iCodPostal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iDomicilioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_Cantidad_Domicilios_Por_Cuidad]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vista_Cantidad_Domicilios_Por_Cuidad] AS
select  count(iDomicilioid) iCantidadDomicilios , vCiudad from Domicilio Group by vCiudad

GO
/****** Object:  View [dbo].[vista_Cantidad_Empleados_Por_Puesto]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vista_Cantidad_Empleados_Por_Puesto] AS
select  count(iEmpleadoid) iCantidadEmpleados , iPuesto from Empleados Group by iPuesto

GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[iPedidoId] [int] NOT NULL,
	[iProveedor] [int] NULL,
	[dtPedFecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[iPedidoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_Cantidad_Pedidos_Por_Fecha]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vista_Cantidad_Pedidos_Por_Fecha] AS
select  count(iPedidoid) iCantidadPedidos , dtPedFecha from Pedido Group by dtPedfecha

GO
/****** Object:  Table [dbo].[Almacen]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Almacen](
	[iProductosId] [int] NOT NULL,
	[vNombre] [varchar](30) NULL,
	[vMarca] [varchar](30) NULL,
	[fPrecio] [float] NULL,
	[iCantidad] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[iInventarioId] [int] NOT NULL,
	[iSucursal] [int] NULL,
	[iProducto] [int] NULL,
	[iCantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iInventarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negocio]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negocio](
	[iNegocioId] [int] NOT NULL,
	[iResponsable] [int] NULL,
	[iTelefono] [int] NULL,
	[iDomicilio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iNegocioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetalle]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalle](
	[iPedidoDetalleId] [int] NOT NULL,
	[iPedRef] [int] NULL,
	[vProdPedido] [varchar](50) NULL,
	[iCantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iPedidoDetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[iProveedorId] [int] NOT NULL,
	[iProducto] [int] NULL,
	[vNombre] [varchar](30) NULL,
	[vEmpresa] [varchar](30) NULL,
	[fCosto] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[iProveedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puestos]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puestos](
	[iPuestosId] [int] NOT NULL,
	[vDescripcion] [varchar](50) NULL,
	[fSueldo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[iPuestosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[iSucursalId] [int] NOT NULL,
	[iGerente] [int] NULL,
	[iDomiciolio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iSucursalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[iTicketId] [int] NOT NULL,
	[dtFechaCompra] [datetime] NULL,
	[iNegocio] [int] NULL,
	[iEmpleado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[iTicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketDetalle]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketDetalle](
	[iTickDetalleId] [int] NOT NULL,
	[iTickRef] [int] NULL,
	[iProducto] [int] NULL,
	[iCantidad] [int] NULL,
	[fPrecio] [float] NULL,
	[fTotal] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[iTickDetalleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoPago]    Script Date: 21/05/2020 10:30:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoPago](
	[iTipoPagoId] [int] NOT NULL,
	[vDescripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[iTipoPagoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Almacen] ([iProductosId], [vNombre], [vMarca], [fPrecio], [iCantidad]) VALUES (1, N'Coca-Cola 500ml', N'Coca-Cola', 12.5, 15)
INSERT [dbo].[Almacen] ([iProductosId], [vNombre], [vMarca], [fPrecio], [iCantidad]) VALUES (2, N'Saladitas', N'Gamesa', 11.9, 20)
INSERT [dbo].[Almacen] ([iProductosId], [vNombre], [vMarca], [fPrecio], [iCantidad]) VALUES (3, N'Rebanadas', N'Bimbo', 5.5, 30)
INSERT [dbo].[Domicilio] ([iDomicilioId], [vCalle], [iNumero], [vColonia], [vCiudad], [iCodPostal]) VALUES (1, N'Julián Villagrán', 1102, N'Centro', N'Monterrey', 64000)
INSERT [dbo].[Domicilio] ([iDomicilioId], [vCalle], [iNumero], [vColonia], [vCiudad], [iCodPostal]) VALUES (2, N'Vicente Guerrero', 900, N'Centro', N'Monterrey', 64000)
INSERT [dbo].[Domicilio] ([iDomicilioId], [vCalle], [iNumero], [vColonia], [vCiudad], [iCodPostal]) VALUES (3, N'Alfonso Reyes', 1581, N'Sarabia', N'Monterrey', 64490)
INSERT [dbo].[Empleados] ([iEmpleadoId], [vNombre], [vApPat], [vApMat], [cTurno], [iTelefono], [dFechaNac], [iPuesto]) VALUES (1, N'José ', N'Sanchéz', N'López', N'M', 56424731, CAST(N'1983-08-19T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Empleados] ([iEmpleadoId], [vNombre], [vApPat], [vApMat], [cTurno], [iTelefono], [dFechaNac], [iPuesto]) VALUES (2, N'Guadalupe', N'González', N'Salas', N'M', 90369126, CAST(N'1976-12-11T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Empleados] ([iEmpleadoId], [vNombre], [vApPat], [vApMat], [cTurno], [iTelefono], [dFechaNac], [iPuesto]) VALUES (3, N'Laura', N'Gomez', N'Estrada', N'M', 94058124, CAST(N'1990-03-12T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Negocio] ([iNegocioId], [iResponsable], [iTelefono], [iDomicilio]) VALUES (1, 41, 22498583, 1)
INSERT [dbo].[Negocio] ([iNegocioId], [iResponsable], [iTelefono], [iDomicilio]) VALUES (2, 13, 30439386, 2)
INSERT [dbo].[Negocio] ([iNegocioId], [iResponsable], [iTelefono], [iDomicilio]) VALUES (3, 14, 15518486, 3)
INSERT [dbo].[Pedido] ([iPedidoId], [iProveedor], [dtPedFecha]) VALUES (2, 2, CAST(N'2020-03-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Pedido] ([iPedidoId], [iProveedor], [dtPedFecha]) VALUES (3, 3, CAST(N'2020-03-07T00:00:00.000' AS DateTime))
INSERT [dbo].[Pedido] ([iPedidoId], [iProveedor], [dtPedFecha]) VALUES (4, 4, CAST(N'2020-03-09T00:00:00.000' AS DateTime))
INSERT [dbo].[PedidoDetalle] ([iPedidoDetalleId], [iPedRef], [vProdPedido], [iCantidad]) VALUES (2, 2, N'Chicharos', 10)
INSERT [dbo].[PedidoDetalle] ([iPedidoDetalleId], [iPedRef], [vProdPedido], [iCantidad]) VALUES (3, 3, N'Mapple', 18)
INSERT [dbo].[PedidoDetalle] ([iPedidoDetalleId], [iPedRef], [vProdPedido], [iCantidad]) VALUES (4, 4, N'Saladitas', 12)
INSERT [dbo].[Productos] ([iProductosId], [vNombre], [vMarca], [fPrecio], [iCantidad]) VALUES (1, N'Coca-Cola 500ml', N'Coca-Cola', 12.5, 15)
INSERT [dbo].[Productos] ([iProductosId], [vNombre], [vMarca], [fPrecio], [iCantidad]) VALUES (2, N'Saladitas', N'Gamesa', 11.9, 20)
INSERT [dbo].[Productos] ([iProductosId], [vNombre], [vMarca], [fPrecio], [iCantidad]) VALUES (3, N'Rebanadas', N'Bimbo', 5.5, 30)
INSERT [dbo].[Proveedores] ([iProveedorId], [iProducto], [vNombre], [vEmpresa], [fCosto]) VALUES (1, 1, N'Jaime Gonzalez', N'Arca Continental', 187.5)
INSERT [dbo].[Proveedores] ([iProveedorId], [iProducto], [vNombre], [vEmpresa], [fCosto]) VALUES (2, 7, N'Eduardo Perez', N'Great Value', 132.35)
INSERT [dbo].[Proveedores] ([iProveedorId], [iProducto], [vNombre], [vEmpresa], [fCosto]) VALUES (3, 8, NULL, N'Great Value', 111.92)
INSERT [dbo].[Puestos] ([iPuestosId], [vDescripcion], [fSueldo]) VALUES (1, N'Encargado', 1575.89)
INSERT [dbo].[Puestos] ([iPuestosId], [vDescripcion], [fSueldo]) VALUES (2, N'Responsable', 1355.9)
INSERT [dbo].[Puestos] ([iPuestosId], [vDescripcion], [fSueldo]) VALUES (3, N'Ayudante General', 1150.5)
INSERT [dbo].[Sucursales] ([iSucursalId], [iGerente], [iDomiciolio]) VALUES (1, 1, 1)
INSERT [dbo].[Sucursales] ([iSucursalId], [iGerente], [iDomiciolio]) VALUES (2, 2, 2)
INSERT [dbo].[Sucursales] ([iSucursalId], [iGerente], [iDomiciolio]) VALUES (3, 3, 3)
INSERT [dbo].[tipoPago] ([iTipoPagoId], [vDescripcion]) VALUES (1, N'Tarjeta de Crédito')
INSERT [dbo].[tipoPago] ([iTipoPagoId], [vDescripcion]) VALUES (2, N'Tarjeta')
/****** Object:  Index [indx_dFechaNac]    Script Date: 21/05/2020 10:30:35 p. m. ******/
CREATE NONCLUSTERED INDEX [indx_dFechaNac] ON [dbo].[Empleados]
(
	[dFechaNac] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Productos_vNombre]    Script Date: 21/05/2020 10:30:35 p. m. ******/
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [UC_Productos_vNombre] UNIQUE NONCLUSTERED 
(
	[vNombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [indx_Productos]    Script Date: 21/05/2020 10:30:35 p. m. ******/
CREATE NONCLUSTERED INDEX [indx_Productos] ON [dbo].[Productos]
(
	[vNombre] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_Proveedores_iProducto]    Script Date: 21/05/2020 10:30:35 p. m. ******/
ALTER TABLE [dbo].[Proveedores] ADD  CONSTRAINT [UC_Proveedores_iProducto] UNIQUE NONCLUSTERED 
(
	[iProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UC_Sucursales_iGerente]    Script Date: 21/05/2020 10:30:35 p. m. ******/
ALTER TABLE [dbo].[Sucursales] ADD  CONSTRAINT [UC_Sucursales_iGerente] UNIQUE NONCLUSTERED 
(
	[iGerente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD FOREIGN KEY([iPuesto])
REFERENCES [dbo].[Puestos] ([iPuestosId])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([iProducto])
REFERENCES [dbo].[Productos] ([iProductosId])
GO
ALTER TABLE [dbo].[Inventario]  WITH CHECK ADD FOREIGN KEY([iSucursal])
REFERENCES [dbo].[Sucursales] ([iSucursalId])
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD FOREIGN KEY([iDomicilio])
REFERENCES [dbo].[Domicilio] ([iDomicilioId])
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD FOREIGN KEY([iResponsable])
REFERENCES [dbo].[Empleados] ([iEmpleadoId])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([iProveedor])
REFERENCES [dbo].[Proveedores] ([iProveedorId])
GO
ALTER TABLE [dbo].[PedidoDetalle]  WITH CHECK ADD FOREIGN KEY([iPedRef])
REFERENCES [dbo].[Pedido] ([iPedidoId])
GO
ALTER TABLE [dbo].[Proveedores]  WITH CHECK ADD FOREIGN KEY([iProducto])
REFERENCES [dbo].[Productos] ([iProductosId])
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD FOREIGN KEY([iDomiciolio])
REFERENCES [dbo].[Domicilio] ([iDomicilioId])
GO
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD FOREIGN KEY([iGerente])
REFERENCES [dbo].[Empleados] ([iEmpleadoId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([iEmpleado])
REFERENCES [dbo].[Empleados] ([iEmpleadoId])
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD FOREIGN KEY([iNegocio])
REFERENCES [dbo].[Negocio] ([iNegocioId])
GO
ALTER TABLE [dbo].[TicketDetalle]  WITH CHECK ADD FOREIGN KEY([iProducto])
REFERENCES [dbo].[Productos] ([iProductosId])
GO
ALTER TABLE [dbo].[TicketDetalle]  WITH CHECK ADD FOREIGN KEY([iTickRef])
REFERENCES [dbo].[Ticket] ([iTicketId])
GO
/****** Object:  StoredProcedure [dbo].[Domicilios_Por_Cuidad]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Domicilios_Por_Cuidad] @vCiudad nvarchar(30)
AS
SELECT * FROM vista_Cantidad_Domicilios_Por_Cuidad WHERE vCiudad = @vCiudad

GO
/****** Object:  StoredProcedure [dbo].[Empleados_Por_Puestos]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Empleados_Por_Puestos] @iPuesto nvarchar(30)
AS
SELECT * FROM vista_Cantidad_Empleados_Por_Puesto WHERE iPuesto = @iPuesto

GO
/****** Object:  StoredProcedure [dbo].[Empleados_Por_Turno]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Empleados_Por_Turno] @cTurno nvarchar(30)
AS
SELECT * FROM vista_Cantidad_Empleados_Por_Turno WHERE cTurno = @cTurno

GO
/****** Object:  StoredProcedure [dbo].[Pedidos_Por_Fecha]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Pedidos_Por_Fecha] @dtPedFecha datetime
AS
SELECT * FROM vista_Cantidad_Pedidos_Por_Fecha WHERE dtPedFecha  = @dtPedFecha 

GO
/****** Object:  StoredProcedure [dbo].[Productos_Por_marca]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Productos_Por_marca] @vMarca nvarchar(30)
AS
SELECT * FROM vista_Cantidad_Productos_Por_Marca WHERE vMarca = @vMarca

GO
/****** Object:  Trigger [dbo].[TR_Domicilio_Insert_Aviso]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR_Domicilio_Insert_Aviso]
on [dbo].[Domicilio]
for insert
as 
print 'Se Insertaron datos en la Tabla Domicilio';
GO
ALTER TABLE [dbo].[Domicilio] ENABLE TRIGGER [TR_Domicilio_Insert_Aviso]
GO
/****** Object:  Trigger [dbo].[TR_Empleado_Insert]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR_Empleado_Insert]
on [dbo].[Empleados]
after insert
as 
print 'Se Insertaron datos en la Tabla Empleado';
GO
ALTER TABLE [dbo].[Empleados] ENABLE TRIGGER [TR_Empleado_Insert]
GO
/****** Object:  Trigger [dbo].[TR_Pedido_Insert]    Script Date: 21/05/2020 10:30:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create trigger [dbo].[TR_Pedido_Insert]
on [dbo].[Pedido]
instead of insert
as 
print 'Se Insertaron datos en la Tabla Pedido';
GO
ALTER TABLE [dbo].[Pedido] ENABLE TRIGGER [TR_Pedido_Insert]
GO
USE [master]
GO
